.product-container{
    display: flex;
    border-bottom: 1px solid grey;
   
}
.last-half{
    display: flex;
    margin-bottom: 10px;
}
.half-width{
    margin-left: 50px;
}
.add-btn{
    height: 26px;
    width: 200px;
    background-color: goldenrod;
    border: 1px solid grey;
    border-radius: 3px;
    margin-bottom: 10px;
}
.feature-container{
    margin-left: 100px;
}
.name{
    font-size: 20px;
    color: blue;
    font-weight: 400;
}
.product-container img{
    height: 250px;
    width: 250px;
}
.other-name{
    font-size: 20px;
    color: orange;
    font-weight: 400;
}
.feature-container ul li{
    font-size: 12px;
    color: grey;
}
